# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VIm Temporary Files
*~
*.swp

# Visual Studio Disposables
*.db
*.ipch
*.log
*.tlog
*.idb
*.pdb
*.ilk
*~
.\solution\runeworld\.vs\*
.\solution\runeworld\Debug\*
.\solution\runeworld\x64\*
.\solution\runeworld\runeworld\Debug\*
.\solution\runeworld\runeworld\x64\*
